*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    background-color: white;
}

.container{
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(243, 239, 239);
    height: 520px;
}

.part1{
    display: flex;
}

main{
    width: 70%;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 30px;
}

h2{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;    
}

.aside, img{
    width: 95%;
    height: max-content;
}

main p, .part2 p{
    color: rgb(71, 70, 70);
}

aside{
    width: 30%;
    padding-top: 25px;
    box-sizing: border-box;
    padding-left: 10px;
}

img{
    border-radius: 10px 10px 0 0;
}

aside p{
    width: 95%;
    background-color: rgb(121, 121, 201);
    margin-top: -5px;
    box-sizing: border-box;
    padding: 5px;
    color: white;
    border-radius: 0 0 10px 10px;
    text-align: end;
}

.part2{
    width: 70%;
    margin-top: -32%;
    padding-left: 30px;
    box-sizing: border-box;
}

@media screen and (max-width:800px){
    .container{
        height: max-content;
        width: 99%;
        display: block;
        box-sizing: border-box;
        padding: 25px;
    }

    .part1{
        display: block;
    }

    main{
        width: 100%;
        padding: 0;
    }

    aside{
        display: flex;
        width: 100%;
        padding: 0;
    }

    .part2{
        width: 100%;
        margin-top: 0;
        padding: 0;
    }
}

@media screen and (max-width:600px) {
    .container {
        height: max-content;
        width: 99%;
        display: block;
        box-sizing: border-box;
        padding: 25px;
    }

    .part1 {
        display: block;
    }

    main {
        width: 100%;
        padding: 0;
    }

    aside {
        display: block;
        width: 100%;
        padding: 0;
    }

    .aside {
        width: 100%;
    }

    .part2 {
        width: 100%;
        margin-top: 0;
        padding: 0;
    }
}